<section class="randmom">
    <div class="divImage">
        <img class="images" src="<%- randomBeer[0].image_url %>">
    </div>
    <div class="randomInfo">
        <h1><%- randomBeer[0].name %></h1>
        <p><%- randomBeer[0].tagline %></p>
        <p><%- randomBeer[0].description %></p>
        <h3>Food Pairing</h3>
        <p><%- randomBeer[0].food_pairing %></p>
        <h3>Brewer Tips</h3>
        <p><%- randomBeer[0].brewers_tips %></p>
    </div>




</section>
